In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data/onedata.xlsx')

In [4]:
df

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

# OneHotEncoder

### using OneHotEncoder and get_dummies

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder(drop='first', dtype=int, sparse_output=False)

In [14]:
df_transform = ohe.fit_transform(df[['buyer', 'fruits', 'gender']])
df_transform

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [16]:
cols = ohe.get_feature_names_out()

In [17]:
cols

array(['buyer_karim', 'buyer_noor', 'buyer_wajid', 'fruits_banana',
       'fruits_mango', 'fruits_orange', 'gender_male'], dtype=object)

In [19]:
# converting into dataframe
pd.DataFrame(data=df_transform, columns=cols)

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1